{%include 'nav.html'%}

<body>
</div>
<div id="vendor-terms" class="content">
    <h3>{{vendor}} - Terms and Conditions</h3>
    <p>{{vendor_tcs}}</p>
    <h3>{{vendor}} - Postage options</h3>
    <p>{{vendor}} offers:</p>
    <ul>1st Class</ul>
    <ul>Tracked</ul>
</div>
<table>
<p>- Display the products in here 3 columns / 2 rows per page -->

<TH>Name</TH>
<th>photo</th>
<th>Description</th>
<th>Prices</th>

<!-- PRODUCT TITLE  -->
<!-- PRODUCT PHOTO  -->
<!-- PRODUCT DESCRIPTION  -->
<!-- PRODUCT PRICES FOR AMOUNTS -->
</p>




</table>


    
</body>
{% include 'footer.html'%}
</html>